body {
    background-color: black;
}

#content {
    border-radius: 10%;
}

.Grid {
    display: grid;
    background-color: lightgray;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 0px;
    margin: 30%;
    margin-top: 0%;
    border-radius: 10%;
}

#City {
    grid-column: 1/4;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#text {
    grid-column: 1/4;
    grid-row: 4/8;
    text-align: center;
}

footer {
    text-align: center;   
}

#left {
    grid-column: 1/2;
    grid-row: 8/9;
    display: inline-block ;  
    width: 100%;
    height: 100%;
    background-color: steelblue;
    color: lightgray;
    border: 1px lightgray solid;
    text-align: center;
}

#mid {
    grid-column: 2/3;
    grid-row: 8/9;
    display: inline-block ;    
    width: 100%;
    height: 100%;
    background-color: steelblue;
    color: lightgray;
    border: 1px lightgray solid;
    text-align: center;   
}

#right {
    grid-column: 3/4;
    grid-row: 8/9;
    display: inline-block ;
    width: 100%;
    height: 100%;
    background-color: steelblue;
    color: lightgray;
    border: 1px lightgray solid;
    text-align: center;
    overflow: hidden;
}

p3, p4 {
    vertical-align: middle;
}