@import url("https://fonts.googleapis.com/css?family=Scada");

/* Header Styling */

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    font-family: "SCADA";
    background-color: #16697A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #FFA62B; color: #16697A;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

header {
    background-color: darkgrey;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100%;
    height: 120px;
}

nav a {
    text-align: center;
    color: #16697A;
    text-decoration: none;
    padding: 35px;
    font-family: "SCADA";
    font-size: 130%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #FFA62B;
    color: #16697A;
}

.logo {
    height: 100px;
    padding-left: 35px;
    padding-top: 10px;
}

#logo_link:hover {
    border: 3px solid #FFA62B;
}

/* Main Styling */

    main {
        margin-top: 20px;
    }

    h1 {
        font-family: "SCADA";
        text-align: center;
    }

    main h1 {
        grid-column: 1/11;
    }

    #section1 {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 300px;    
        column-gap: 10px;
        text-align: justify;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 10px;
        padding-right: 20px;
        border: 2px solid #16697A;
    }

    #section2 {
        width:80%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 300px;    
        text-align: center;
        align-items: center;
        column-gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
        border: 2px solid #16697A;
        background-color: #16697A;
        color: white;
    }

    #section1 p {
        grid-column: 2/3;
        display: block;
        font-family: "SCADA", Helvetica, sans-serif;
        max-height: 300px;
    }

    #section2 p {
        grid-column: 1/2;
        display: inline-block;
        font-family: "SCADA", Helvetica, sans-serif;
    }

    #image1 {
        grid-column: 1/2;
        padding-right: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #image2 {
        grid-column: 2/3;   
        max-height:100%;    
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* AppHistory Page Styling */

#section3 {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px 100px 150px;    
    column-gap: 10px;
    text-align: justify;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-right: 20px;
    border: 2px solid #16697A;
    background-color: #16697A;
    color: white;
}

#header1 {
    text-align: left;
    grid-column: 1/2;
    color:#FFA62B;
}

#header2 {
    text-align: left;
    grid-column: 1/2;
}

#section3 p {
    grid-column: 1/2;
    margin-top: -70px;      
    display: block;
    font-family: "SCADA", Helvetica, sans-serif;
}

#lists {
    grid-column: 1/2;
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: top;
    margin: 0 auto;
    margin-top:-80px;
}

#list1 {
    grid-column: 1/2;
}

#list2 {
    grid-column: 2/3;
}

#list3 {
    grid-column: 3/4;
}

#list4 {
    grid-column: 4/5;
}

#lists li {
    width: 100%;
    display: inline-block;
    text-align: center;    
    font-family: "SCADA", Helvetica, sans-serif;
}

#image3 {
    display: inline-block;
    grid-column: 2/3; 
    grid-row:1/4; 
    max-height:100%;    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section4 {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 300px;    
    column-gap: 10px;
    text-align: justify;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-right: 20px;
    border: 2px solid #16697A;
}

#section4 p {
    grid-column: 2/3;
    display: inline-block;
    font-family: "SCADA", Helvetica, sans-serif;
}

#image4 {
    grid-column: 1/2;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer Styling */

footer {
    background-color: darkgrey;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display:inline-block;
    width:400px;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer nav a {
    text-align: center;
    color: #16697A;
    text-decoration: none;
    padding: 58px 35px;
    font-family: "SCADA";
    font-size: 130%;
}

footer nav a:hover {
    background-color: #FFA62B;
    color: #16697A;
}